{% extends "layout.html" %}

{% block title %}Historial{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ID Historial</th>
            <th>ID Habitación</th>
            <th>Imagen</th>
            <th>Contexto</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for row in historial %}
        <tr>
            <td data-label="ID Historial">{{ row[0] }}</td>
            <td data-label="ID Habitación">{{ row[1] }}</td>
            <td data-label="Imagen">
                {% if row[3] %}
                <img src="{{ url_for('static', filename='uploads/' ~ row[3]) }}" alt="Imagen de Habitación" style="max-width: 100px; height: auto;">
                {% else %}
                No Image
                {% endif %}
            </td>
            <td data-label="Contexto">{{ row[4] }}</td>
            <td data-label="Nombre">{{ row[5] }}</td>
            <td data-label="Acción">{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
